**/.vs
**/jenkins/jenkins_home/*
**/nginx/ssl/*
**/bin
**/obj
**/.env*
**/sonar
**/postgresql
**/*.tfvars
**/node_modules

!/assistants-budget-be/Assistants.Budget.BE.API.Tests/.env
/assistants-budget-auth0/config.json
